<!DOCTYPE html>
<html lang="en">
<head>
 <link rel= "stylesheet" type= "text/css" href="/css/adminstyle.css">
  <meta charset="UTF-8">
  <title>Admin</title>
</head>
<body>
<nav>
<a href="/orders">Orders</a>
</nav>
<h2>Current Stock</h2>
<table>
<thead>
    <tr>
        <th>Style</th>
        <th>Color</th>
        <th>Stock</th>
        <th>Image</th>
        <th>Price</th>
    </tr>
</thead>
<% shirts.each do |shirt| %>
  <tr>
    <form method="POST" action="/shirts/<%= shirt.id %>">
      <td><input type="text" name="style" value="<%= shirt.style %>" size="15" onblur="submit()"></td>
      <td><input type="text" name="color" value="<%= shirt.color %>" size="10" onblur="submit()"></td>
      <input type="hidden" name="_method" value="PUT">
      <td><input type="text" name="instock" value="<%= shirt.instock %>" size="5" onblur="submit()"></td>
      <td><input type="text" name="shirt_image" value="<%= shirt.shirt_image %>" size="40" onblur="submit()"></td>
      <td><input type="text" name="price" value="<%= shirt.price %>" size="5" onblur="submit()"></td>
    </form>
    <td><form method="POST" action="/shirts/<%= shirt.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button>delete</button>
    </form></td>
  </tr>
<% end %>
</table>

<h2>Add New Shirt Type</h2>
<form method="POST" action="/shirts">
  <table>
    <tr>
      <td class="alignright"><label for="style">Style</label></td>
      <td><input type="text" name="style"></td>
    </tr>
    <tr>
      <td class="alignright"><label for="color">Color</label></td>
      <td><input type="text" name="color"></td>
    </tr>
    <tr>
      <td class="alignright"><label for="instock">Quantity</label></td>
      <td><input type="text" name="instock"></td>
    </tr>
    <tr>
      <td class="alignright"><label for="shirt_image">Image Url</label></td>
      <td><input type="text" name="shirt_image"></td>
    </tr>
    <tr>
      <td class="alignright"><label for="price">Price</label></td>
      <td><input type="text" name="price"></td>
    </tr>
    <tr>
      <td class="alignright" colspan="2"><button>Add</button></td>
    </tr>
  </table>
</form>
</body>
</html>