<!DOCTYPE html>
<html lang="en">
<head>
 <link rel= "stylesheet" type= "text/css" href="/css/adminstyle.css">
  <meta charset="UTF-8">
  <title>Admin</title>
</head>
<body>
<table>
<nav>
<a href="/orders">Orders</a>
</nav>
<ul>
<% shirts.each do |shirt| %>
  <li><%= shirt.style %> - <%= shirt.color %>
    <form method="POST" action="/shirts/<%= shirt.id %>">
      <input type="hidden" name="_method" value="PUT">
      <input type="text" name="instock" value="<%= shirt.instock %>" size="5" onblur="submit()">
      <input type="text" name="shirt_image" value="<%= shirt.shirt_image %>" size="20" onblur="submit()">
      <input type="text" name="price" value="<%= shirt.price %>" size="5" onblur="submit()">
    </form>
    <form method="POST" action="/shirts/<%= shirt.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button>delete</button>
    </form>
  </li>
<% end %>
</ul>
</table>

<form method="POST" action="/shirts">
  <ul>
    <li>
      <label for="style">Style</label>
      <input type="text" name="style">
    </li>
    <li>
      <label for="color">Color</label>
      <input type="text" name="color">
    </li>
    <li>
      <label for="instock">Quantity</label>
      <input type="text" name="instock">
    </li>
    <li>
      <label for="shirt_image">Image Url</label>
      <input type="text" name="shirt_image">
    </li>
    <li>
      <label for="price">Price</label>
      <input type="text" name="price">
    </li>
    <li>
      <button>Add</button>
    </li>
  </ul>
</form>
</body>
</html>