<!DOCTYPE html>
<html lang="en">
<head>
 <link rel= "stylesheet" type= "text/css" href="/css/adminstyle.css">
  <meta charset="UTF-8">
  <title>Admin</title>
</head>
<body>
<nav>
<a href="/orders">Orders</a>
</nav>
<table>
<thead>
    <tr>
        <th>Style</th>
        <th>Color</th>
        <th>Stock</th>
        <th>Image</th>
        <th>Price</th>
    </tr>
</thead>
<% shirts.each do |shirt| %>
    <tr><td><%= shirt.style %></td> - <td><%= shirt.color %></td>
    <form method="POST" action="/shirts/<%= shirt.id %>">
        <td><input type="hidden" name="_method" value="PUT"></td>
      <td><input type="text" name="instock" value="<%= shirt.instock %>" size="5" onblur="submit()"></td>
        <td><input type="text" name="shirt_image" value="<%= shirt.shirt_image %>" size="20" onblur="submit()"></td>
        <td><input type="text" name="price" value="<%= shirt.price %>" size="5" onblur="submit()"></td>
    </form>
    <form method="POST" action="/shirts/<%= shirt.id %>">
        <td><input type="hidden" name="_method" value="DELETE"></td>
        <td><button>delete</button></td>
    </form>
  </tr>
<% end %>
</table>

<form method="POST" action="/shirts">
  <ul>
    <li>
      <label for="style">Style</label>
      <input type="text" name="style">
    </li>
    <li>
      <label for="color">Color</label>
      <input type="text" name="color">
    </li>
    <li>
      <label for="instock">Quantity</label>
      <input type="text" name="instock">
    </li>
    <li>
      <label for="shirt_image">Image Url</label>
      <input type="text" name="shirt_image">
    </li>
    <li>
      <label for="price">Price</label>
      <input type="text" name="price">
    </li>
    <li>
      <button>Add</button>
    </li>
  </ul>
</form>
</body>
</html>