<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel= "stylesheet" type= "text/css" href="/css/adminstyle.css">
</head>
<body>
    <nav>
        <a href="/admin">Stock</a>
    </nav>
    <div class="orders">
        <table>
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Style</th>
                    <th>Color</th>
                    <th>Quantity</th>
                    <th>Email</th>
                </tr>
            </thead>
            <% orders.each_with_index do |order, i| %>
            <tr>
                <td><%= order.status %></td>
                <td><%= shirts[i].style %></td>
                <td><%= shirts[i].color %></td>
                <td><%= order.quantity %></td>
                <td><%= order.email %></td>

                <% if order.status != "shipped" %>
                <form method="POST" action="/cancel_order">
                <input type="hidden" name="shirt_id" value="<%= shirts[i].id %>">
                <input type="hidden" name="quantity" value="<%= order.quantity %>">
                <input type="hidden" name="order_id" value="<%= order.id %>"> 
                <td><button class="cancel">Cancel and Restock</button></td>
                </form>
                <form method="POST" action="/shipped_order">
                <input type="hidden" name="_method" value="PUT">
                <input type="hidden" name="order_id" value="<%= order.id %>">
                <td><button class="ship">Ship</button></td>
                </form>
                <% end %>
            </tr>
            <% end %>
            
        </table>
    </div>

</body>
</html>