<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<a href="/admin">Admin</a>
   <div class="orders">
   <ul class="list">
    <% orders.each_with_index do |order, id| %>
    <li>
        <%= order.status %>
        <%= shirts[id].style %>
        <%= shirts[id].color %>
        <%= order.quantity %>
        <%= order.email %>

        
        <button class="cancel">Cancel Order</button>
       <% end %>
    </li>
    
    </ul>
    
    </div>
</body>
</html>