<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel= "stylesheet" type= "text/css" href="/css/adminstyle.css">
</head>
<body>
    <nav>
        <a href="/admin">Stock</a>
    </nav>
    <div class="orders">
        <ul class="list">
            <% orders.each_with_index do |order, i| %>
            <li>
                <%= order.status %>
                <%= shirts[i].style %>
                <%= shirts[i].color %>
                <%= order.quantity %>
                <%= order.email %>

                <form method="POST" action="/cancel_order">
                <input type="hidden" name="shirt_id" value="<%= shirts[i].id %>">
                <input type="hidden" name="quantity" value="<%= order.quantity %>">
                <input type="hidden" name="order_id" value="<%= order.id %>"> 
                <button class="cancel">Cancel and Restock</button>
                </form>
                <% if order.status != "shipped" %>
                <form method="POST" action="/shipped_order">
                <input type="hidden" name="_method" value="PUT">
                <input type="hidden" name="order_id" value="<%= order.id %>">
                <button class="ship">Ship</button>
                </form>
                <% end %>
            </li>
            <% end %>
            
        </ul>
    </div>

</body>
</html>