<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
    <a href="/admin">Admin</a>
   <div class="orders">
   <ul class="list">
    <% orders.each do |order| %>
    <li>
        <%= order.id %>
        <%= order.shirt_id %>
        <%= order.quantity %>
        <%= order.status %>
        <%= order.email %>

        
        <button class="cancel">Cancel Order</button>
       <% end %>
    </li>
    
    </ul>
    </div>

</body>
</html>