<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
   <div class="orders"></div>
   <ul class="list">
    <% orders.each do |order| %>
    <li>
        <%= order.id %>
        <%= order.shirt_id %>
        <%= order.quantity %>
        <%= order.status %>
        <%= order.email %>
        
        <button class="cancel">Cancel Order</button>
       <% end %>
    </li>
    </ul>
    <a href="/admin">Admin</a>
</body>
</html>