<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Thanks</title>
</head>
<body>
  <h1>Thank you for your purchase</h1>
  <img src="<%= shirt.shirt_image %>">
  <p>style — <%= shirt.style %></p>
  <p>color — <%= shirt.color %></p>
  <p>quantity — <%= order.quantity %></p>
  <p>total — $<%= printf("%.2f",order.quantity.to_i * shirt.price.to_i) %></p>
</body>
</html>