<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" type="text/css" href = "/css/styles.css">
	<title></title>
</head>
<body>
	<h1><%=shirt.style%></h1>
		Color: <%=shirt.color%><br>
		In Stock: <%=shirt.instock%><br>
		Price: $<%=shirt.price%><br>
		<img src="<%=shirt.shirt_image%>">
		<form action="/orders"  method="POST">
		<input type="hidden" name="color" value="<%=shirt.color%>">
		<input type="hidden" name="price" value="<%=shirt.price%>">
		<input type="hidden" name="style" value="<%=shirt.color%>">
		<select name="qty">
			<% for i in 0..shirt.instock.to_i %>
			<option><%= i %></option> 
			<%end%>
		</select>
			<button>Buy</button>
		</form>

</body>
</html>