<!DOCTYPE html>
<html>
<head>
	<link rel = "stylesheet" type="text/css" href = "/css/styles.css">
	<nav>
	<a href="/shirts">Home</a>
	</nav>
</head>
<body>
	<% shirts.each_with_index do |shirt, index| %>
	<div class="shirtdiv hidden" id="shirt<%= index %>">
		<h1><%=shirt.style%></h1>
		Color:
		<select onchange="switchshirt(<%= index %>)">
			<% shirts.each_with_index do |innershirt, innerindex| %>
			<option value=<%= innerindex %> <%= "selected" if innerindex == index %>>
				<%=innershirt.color%>
			</option>
			<% end %>
		</select>
		<br>
		In Stock: <%=shirt.instock%><br>
		Price: $<%=shirt.price%><br>
		<img class="img_show" src="<%=shirt.shirt_image%>">>
		<form action="/orders"  method="POST">
		<ul class="purchaseformlist">
		<label for="email">email</label>
		<input type="text" name="email" value="" required>
		<input type="hidden" name="shirt_id" value="<%=shirt.id%>">
		<input type="hidden" name="price" value="<%=shirt.price%>">
		<label for="qty">qty</label>
		
			<select name="qty">
				<% for i in 1..shirt.instock.to_i %>
				<option><%= i %></option>
				<%end%>
			</select>
		
		<button>Buy</button></br>
			
		</form>
	</div>
	<% end %>

	<script>
		var shirtdivs = document.getElementsByClassName("shirtdiv");
		// display last shirt on load, because that's the image that shows in the index page
		shirtdivs[shirtdivs.length-1].className = "shirtdiv";

		function switchshirt(index) {
			// grab the <select> that triggered us
			var select = shirtdivs[index].querySelector('select');
			// hide the current shirt
			shirtdivs[index].className = "shirtdiv hidden";
			// show the newly selected shirt
			shirtdivs[select.value].className = "shirtdiv";
			// set the <select> that we just left back to it's initial value
			select.value = index;
		}
	</script>
</body>
</html>