<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%=shirt.style%></h1>
		<%=shirt.color%>
		<%=shirt.instock%>
		<%=shirt.price%>
		<%=shirt.shirt_image%>



		<form action="/shirts/<%=shirt.id%>" method="POST">
			<input type="hidden" name="_method" value="PUT">
		</form>

</body>
</html>